/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border: none;
    
}

body {
    background-image:url(tec.jpeg) ;
}
.inicio {
    color:  rgb(0, 26, 255);
    font-size: 60px;
    text-align: center;
    
}
#text{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

input,
label {
    display: block;
    outline: none;
    width: 100%;
}
input{
    color: #000000;
}

a {
    color:rgb(0, 26, 255);
}

body {
    background-color: #8f8f8f;
}

/* form */
#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    border-radius: 10px;
    padding: 25px;
    margin-top: 10%;
    border: 5px rgb(0, 26, 255) solid;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
}


label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    margin-bottom: 30px;
}

input:focus {
    border-color: #e60000;
}

input[type="submit"],
#button {
    float: left;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(0, 85, 255);
    color: white;
    text-shadow: 0 0 5px black;
    font-family: inherit;
    font-size: 25px;
    font-family: 'arial';
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;

}

input[type="submit"]:hover,
#button:hover{
    background-color: #444444;
    transform: scale(1.03);
    color: white;
}
#box-button{
    display: flex;
    justify-content: space-between;
}

#button{
    margin-left: 10px;
    background-color: red;
}

#agreement {
    margin-right: 5px;
}

#agreement,
#agreement-label {
    display: inline-block;
    width: auto;
}

.error-validation {
    color: #ff1a1a;
    font-size: 12px;
    position: relative;
    bottom: 25px;
}

.template {
    display: none;
}

.submit {
    width: 100%;
    float: left;
}


.volta{
    text-align: center;
}

.submit_cancel {
    padding: 5px 24px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    text-shadow: 0 0 5px black;
    font-family: inherit;
    font-size: 25px;
    font-family: 'arial';
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
}

.submit_cancel:hover {
    background-color: #ffffff;
    transform: scale(1.03);
    color: black;
}

#volta1 {
    color: white;
    font-size: 13px;
}

#volta2 {
    color: white;
    font-size: 13px;
    margin-top: 10px;
}