header {
    background-color: rgb(74, 71, 71);
}
.cabecario {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.imagem{
    background-color: white;
}
.cabecario img{
   width: 50px;
   padding: 15px;
}
#title{
    color: white;
}
.cabecario{
    display: flex;
}

li {
    list-style-type: none;
    
}
nav {
    display: flex;
    align-items: center;
    padding-left: 450px;
    padding-top: 18px;
}
.menu a {
    padding: 10px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.menu a:hover {
    color: rgb(81, 255, 0);
    
}
ul {
    margin: 5px;
    padding: 5px;
    align-items: flex-end;
    position: absolute;
    
}

.modos ul {
    visibility: hidden;
}

.modos:hover ul {
    visibility: visible
}
* {
    font-family: Arial, Helvetica, sans-serif;

}
a {
    text-decoration: none;
}
#conta {
    border: 2px solid rgb(81, 255, 0);
    border-radius: 50px;
    padding-inline: 35px;
    transition: 0.5s;

}

#conta:hover {
    background-color:rgb(81, 255, 0);
    color: black;
}
body{
    background-color: rgb(74, 71, 71);
}

.container{
    background-color: black;
    border-radius: 20px;
}
.plus{
    background-color: black;
    border-radius: 20px;
}
/*Minha section, utilizei ela para justificar a caixa do contato de suporte */
.tudo {
    display: flex;
    padding-left: 300px;
    padding-top: 30px;
}
/*a caixa de suporte*/
.giga {
    background-color: rgb(0, 0, 0);
    height: 800px;
    width: 70%;
    right: 40px;
    padding-left: 30px;
    border-radius: 30px;
    color: white;
    border: 0.2em solid;
    border-color: rgb(17, 255, 0);
}
/*é o titulo em destaque na caixa de suporte */
#tistulo {
    padding-left: 270px;
    margin-top: 40px;
    font-size: 40px;
    color: rgb(17, 255, 0);
}
/*este é o agrupamentos de meus inputs */
.menuzao {
    padding-left: 40px;
    font-size: 20px;
}
/*inputs padrões, no caso o nome e e-mail */
input {
    height: 40px;
    width: 88%;
    font-size: 20px;
    border-radius: 6px;
}
/*onde o usuario vai relatar o problema, foi utilizado um textarea */
#textao {
    height: 300px;
    columns: 3;
    width: 88%;
}
/*é o botão enviar */
#enviar {
    background-color: rgb(17, 255, 0);
    color: white;
    width: 20%;
    border-radius: 10px;
    text-shadow: 0.1em 0.1em 0.2em black;
    height: 47px;
}
/*é o botão enviar quando o mouse esta sobre ele, ela serve para escurecer a caixa e dar destaque */
#enviar:hover {
    background-color: rgb(41, 129, 0);
    transition: 1s;
}